<h1>Login page / sign up button</h1>
<br>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style='color:red'><%= error %></p>
  <% end %>
<% end %>


<%= form_tag(verified_path) do %>
  <%= label_tag("Email:") %>
  <%= text_field_tag(:email) %>
<br>
  <%= label_tag("Password:") %>
  <%= password_field_tag(:password) %>
<br>
  <%= submit_tag("Submit") %>
<% end %>
<br>
<%= button_to "Sign up", new_patient_path, :method => :get %>
<br>
