<h1><%= @doctor.name %> Show Page</h1>
<img src="<%= @doctor.image_url %>" alt="Dr's <%= @doctor.name %> picture">
<p><strong>Insurance Provider:</strong> <%= @doctor.insurance.name %></p>
<p><strong>Specialty:</strong> <%= @doctor.specialty.name %></p>
<p><strong>Fee per visit:</strong> $<%= @doctor.fee %>.00.</p>
<br>
<%= button_to "Schedule an Appointment", new_doctor_appointment_path(@doctor), :method => :get %>
