<h1>Make a appointment</h1>
<%= form_for @appointment do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :condition %>
  <%= f.text_area :condition %>
  <%= f.hidden_field :doctor_id %>
  <%= f.hidden_field :patient_id %>
  <%= f.submit %>


<% end %>
